{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
This is the shopping cart. Please review the items and place the order
{% endblock %}

{% block title %}
Shopping Cart - Books Inc Store
{% endblock %}

{% block content %}

{% if not cart_items %}

<h2 class="title">Your shopping cart is empty</h2>
<p class='subtitle'>Please click <a href="{% url 'shop:allProdCat' %}" class="has-text-link">here</a> to continue
  shopping</p>
{% else %}

<h1 class="title has-text-centered">Your Shopping Cart</h1>
<div class="columns">
  <!-- 1st Column -->
  <div class="column">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th class='subtitle has-text-centered has-background-grey-lighter is-uppercase has-text-weight-semibold	'>
            Items</th>
        </tr>
      </thead>
      <tbody>
        {% for cart_item in cart_items %}
        <tr style="border: none;">
          <td style="border: none;">
            <div class="columns is-mobile">
              <div class="column is-one-quarter">
                <a href="{{ cart_item.product.get_url }}">
                  <figure class=" image is-64x64">
                    <img src="{{cart_item.product.image.url}}" alt="Placeholder image">
                  </figure>
                </a>
              </div>
              <div class="column is-one-half has-text-left">
                <p class="title is-5">{{cart_item.product.name}}</p>
                <p class="subtitle is-6" style="margin-bottom: 0.5rem;">{{cart_item.product.author}}</p>
                <!-- <p>{{cart_item.product.description|truncatewords:20}}</p> -->
                <p>Quantity: {{cart_item.quantity}}</p>
                <p>Unit price: £{{cart_item.product.price}}</p>
                <p>Sub Total: £{{cart_item.sub_total}}</p>
              </div>
              <div class="column is-one-quarter">
                {% if cart_item.quantity < cart_item.product.stock %}
                <p class="has-text-right is-size-5-mobile is-size-4-tablet">
                  <a href="{% url 'cart:add_cart' cart_item.product.id %}" class='has-text-success'>
                    <i class="fas fa-plus-square"></i>
                  </a>
                  <a href="{% url 'cart:cart_remove' cart_item.product.id %}" class='has-text-warning'>
                    <i class="fas fa-minus-square"></i>
                  </a>
                  <a href="{% url 'cart:full_remove' cart_item.product.id %}" class='has-text-danger'>
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </p>
                {% else %}
                <p class="has-text-right is-size-5-mobile is-size-4-tablet">
                  <a href="{% url 'cart:cart_remove' cart_item.product.id %}" class='has-text-warning'>
                    <i class="fas fa-minus-square"></i>
                  </a>
                  <a href="{% url 'cart:full_remove' cart_item.product.id %}" class='has-text-danger'>
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </p>
                {% endif %}
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- 2nd Column -->

  <div class="column">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th class='subtitle has-text-centered has-background-grey-lighter is-uppercase has-text-weight-semibold	'>
            Checkout</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Please review your shopping cart items before proceeding with the order payment
          </td>
        </tr>
        <tr>
          <td>
            Your Total is <strong>£{{ total }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="has-text-centered">
      <form action="" method="POST">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ data_key }}"
          data-amount="{{ stripe_total }}" data-name="Books Inc" data-description="{{ description }}"
          data-image="{% static 'shoppingcart-logo.png' %}" data-locale="auto" data-currency="gbp"
          data-shipping-address='True' data-billing-address='True' data-zip-code='True'>
          </script>
      </form>
      <br>
      <a class="button is-link" href="{% url 'shop:allProdCat' %}">Continue Shopping</a>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}