{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
We have a variety of incredible paperback books.  Choose one that interests you.
{% endblock %}

{% block title %}
Search - Books Inc Store
{% endblock %}

{% block content %}

<div>
  <h1 class='title'>Search Results</h1>
  <h2 class='subtitle'>You searched for <strong>{{ query }}</strong></h2>

  <br />
  <div class="columns is-multiline">
    
    {% for product in products %}
    <div class="column is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-quarter-fullhd">
      <article class="message">
        <div class="message-body has-background-white">
          <h2 class="title">{{product.name}}</h2>
          <h3 class="subtitle">{{product.author}}</h3>
          <a href='{{ product.get_url }}'>
            <figure class="image">
              <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </figure>
          </a>
          <p style="padding: 1rem 0 0;">{{product.description|truncatewords:50}}</p>
          <p><strong>Price: £{{product.price}}</strong></p>
        </div>
      </article>
    </div>
    
    <div>
      <!-- {% if empty %}
        <p class="title">0 results found for your search.</p>
      {% endif %} -->
    </div>

    {% endfor %}
  </div>
  <!-- <div>
    {% if products.paginator.num_pages > 1 %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if products.has_previous %}
      <a class="pagination-previous" href="?page={{ products.previous_page_number }}">Previous</a>
      {% else %}
      <a class="pagination-previous is-disabled">Previous</a>
      {% endif %}
      {% if products.has_next %}
      <a class="pagination-next" href="?page={{ products.next_page_number }}">Next page</a>
      {% else %}
      <a class="pagination-next">Next page</a>
      {% endif %}
      <ul class="pagination-list">
        {% for pg in products.paginator.page_range %}
        <li><a class="pagination-link {% if products.number == pg %}is-current{% endif %}"
            href="?page={{pg}}">{{pg}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div> -->
</div>
{% endblock %}