{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
  {% if category %}
    {{ category.description|truncatewords:155}}
  {% else %}
    Welcome to Books Inc where you can buy paperback books
  {% endif %}
{% endblock %}

{% block title %}
  {% if category %}
   {{ category.name}} - Books Inc Store
  {% else %}
    See our book collection - Books Inc
  {% endif %}
{% endblock %}

{% block content %}
  <!-- Breadcrumb Navigation -->
  {% if category %}
    <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'shop:allProdCat' %}">Our Collection</a></li>
        <li><a href='' class='has-text-weight-semibold'>{{category.name}}</a></li>
      </ul>
    </nav>
  {% endif %}
  
  {% if category %}
  <figure class="image">
    <img src="{{category.image.url}}" alt="{{category.name}}"">
  </figure>
  <h1 class="title is-size-1" style="padding: 1rem 0 0">{{category.name}}</h1>
  <p class="is-size-5">{{category.description}}</p>
  {% else %}
  <figure class="image">
    <img src="{% static 'banner.png' %}" alt="Our products">
  </figure>
  <h1 class="title is-size-1" style="padding: 1rem 0 0">Our Products</h1>
  <p class="is-size-5">Find the perfect paperback for your library. An amazing collection of stories from some of the
    world's most incredible authors.</p>
  {% endif %}
  
  <br/>
  <div class="columns is-multiline">
    {% for product in products.object_list %}
    <div class="column is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-quarter-fullhd">
      <article class="message">
        <div class="message-body has-background-white">
          <h2 class="title">{{product.name}}</h2>
          <h3 class="subtitle">{{product.author}}</h3>
          <a href='{{ product.get_url }}'>
            <figure class="image">
              <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </figure>
          </a>
          <p style="padding: 1rem 0 0;">{{product.description|truncatewords:50}}</p>
          <p><strong>Price: £{{product.price}}</strong></p>
          <!-- A conditional on stocking information -->
          <div style="margin: 1rem 0 0 ">
            {% if product.stock <= 0 %}
            <p><strong>Out of Stock</strong></p>
            {% else %}
            <a class="button is-success" href='{% url "cart:add_cart" product.id %}'>Add to
              Cart</a>
            {% endif %}
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
  <div>
    {% if products.paginator.num_pages > 1 %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if products.has_previous %}
        <a class="pagination-previous" href="?page={{ products.previous_page_number }}">Previous</a>
      {% else %}
        <a class="pagination-previous is-disabled">Previous</a>
      {% endif %}
      {% if products.has_next %}
        <a class="pagination-next" href="?page={{ products.next_page_number }}">Next page</a>
      {% else %}
        <a class="pagination-next">Next page</a>
      {% endif %}
      <ul class="pagination-list">
        {% for pg in products.paginator.page_range %}
          <li><a 
            class="pagination-link {% if products.number == pg %}is-current{% endif %}"
            href="?page={{pg}}"
            >{{pg}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>

{% endblock %}

