{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
{{ product.description|truncatechars:155}}
{% endblock %}

{% block title %}
{{ product.name }} - Books Inc Store
{% endblock %}

{% block content %}

<!-- Breadcrumb Navigation -->
<nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'shop:allProdCat' %}">Home</a></li>
    <li><a href='{{ product.category.get_url }}'></a>{{ product.category }}</li>
    <li><a href='' class='has-text-weight-semibold'></a>{{ product.name }}</li>
  </ul>
</nav>
<br />

<div cass="has-text-centered">
  <h2 class="title">{{product.name}}</h2>
  <h3 class="subtitle">{{product.author}}</h3>
</div>
<br>

<!-- Content -->
<div class="columns is-multiline">
  <div class="column is-one-third-tablet is-one-quarter-desktop">
    <article class="message">
      <div class="message-body has-background-white">
        <figure class="image">
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </figure>
      </div>
    </article>
  </div>
  <div class="column is-two-thirds-tablet is-three-quarters-desktop">
    <!-- <h3 class="subtitle is-size-4";">About</h3> -->
    <p>{{product.description}}</p>
    <p>Price: £{{product.price}}</p>
    <!-- A conditional on stocking information -->
    {% if product.stock <= 0 %}
    <p><strong>Out of Stock</strong></p>
    {% else %}
    <a class="button is-success" style="margin: 1rem 0 0 " href='{% url "cart:add_cart" product.id %}'>Add to Cart</a>
    {% endif %}
  </div>

</div>
{% endblock %}